body {
	margin: 0;
	padding: 0;
	background: white;
	font:  "Lucida Grande", "Lucida Sans", verdana, arial, sans-serif;
	font-size: 12px;
}

#hmenu {
	float:left;
/*	position: absolute; */
}

#hmenu li {
	text-align: left;
	background: #39c;
	/*color: #39c;
	/*background: #fff;*/
	font-size: 10px;
	color: #eed;
}
#hmenu li a {
	color: #eed;
	/*text-decoration: none;*/
	display: block;
	height: 100%;
	border: 0 none;
}
#hmenu li a:hover, #hmenu li a:focus {
	background: #39c;
	color: #eed;
}
#hmenu li li {
	background: #998;
}


#site {
	position: absolute;
	z-index: 1;
	top : 70px;
	left : 10px;
	color: #000;
	background-color: #ddd;
	padding: 5px;
	border: 1px solid gray; 
}