/* CSS global reset for all browsers - ensures consistency */ 
* {	padding: 0px;	margin: 0px;}

body {
	text-align: left;
	font-family:"Lucida Grande", "Lucida Sans", Verdana, Helvetica, sans-serif;
	font-size: 11px;
}


h1 {
	font-size: 16px;
	font-weight: bold;
	color: #39c;
}

h2 {
	color: #39c;
	font-size: 16px;
	font-weight: bold;
	background: none;
	border-bottom: 2px solid #ccb;
	width: 90%
}

h3 {
	color: #998;
	font-size: 12px;
	font-weight: bold;
	background: none;
}



a, a:link {
	color:#39c; 
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	color:#39c; 
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color:#039; 
}


select, input, textarea {
	color: #665;
	font-family:"Lucida Grande", "Lucida Sans", Verdana, Helvetica, sans-serif;
	font-size: 11px;
	padding: 2px;
	border: 2px solid #ccb;
}
.button {
	margin: 0px 10px;
}


table {
	border: 2px dotted #eed;
	margin: 0 4px 10px 4px;
}

th {
	border: 1px solid #998;
	background: #bba;
	color: #eed;
	font-weight: bold;
	font-family:"Lucida Grande", "Lucida Sans", Verdana, Helvetica, sans-serif;
	font-size: 10px;
}

tr {
	border-bottom: 2px solid #ccb;
}

td {
	background: #fcfcf0;
	color: #666;
	border-top: none;
	border-bottom: 1px dotted #eed;
	border-right: none;
	border-left: none;
	padding: 4px;
	font-weight: normal;
	font-family:"Lucida Grande", "Lucida Sans", Verdana, Helvetica, sans-serif;
	font-size: 10px;
}

#container {
	width: 90%;
	padding 2px 0px 2px 20px;
	background: none;
	margin: 10px;	
}

#header {
	/*width: 90%;
	padding: 2px 0px 2px 20px;
	margin: 10px auto;*/
	background: none;
	/*border-bottom: 4px solid #eed;*/
}

#sidebar {
	float: left;
	display: inline;
	border-right: 1px solid #eed;
	margin: 0 10px 0 0;
	width: 150px;
	text-align:left;
	font: 10px "Lucida Grande", "Lucida Sans", Verdana, Helvetica, sans-serif;
}

#main {
/*	float: left;*/
	clear: left;
	/*margin: 0 10px 0 210px;*/
	margin: 10px 10px 10px 10px;
	padding: 5px;
   /* border-top: 12px solid #eed;*/
}

#footer {
	color:#666;
	border-top: 2px solid #eed;
	clear: both;
	width: 90%;
	margin: 20px 0 10px 0;
	text-align: right;
}


#menu a,
#menu a:link,
#menu a:visited {
	display: block;
/*	width: 98%; */ 
	text-decoration: none;
}
#menu a:hover {
	background: #eed;
	text-decoration: none;
}


/* using the dropdown method from http://alistapart.com/articles/dropdowns */
/* implemented in CSS for all browsers except IE6, which requires a little Javascript to get it working */
#hmenu {
	margin: 10px 0;}

#hmenu ul {	padding: 0;	list-style: none;	list-style-type: none;
}#hmenu ul li { /* all menu list items */	float: left;	position: relative;	width: 10em;
	border-bottom: 1px solid #eed;
	list-style-type: none;
}#hmenu ul li ul { /* second-level lists */	display: none;	position: absolute;	top: 1em;	left: 0;}#hmenu ul li>ul { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */	top: auto;	left: auto;}
#hmenu li:hover ul, #hmenu li.over ul { /* lists nested under hovered list items */	display: block;}




a.pageheading:hover {
	color:#003300; 
	text-decoration: underline;
}

a.subheading:hover {
	color:#003300; 
	text-decoration: underline;
}




#filter {
	margin: 4px 0;
}



.morelink,
.footer {
	text-align:right;
	font-size: 10px;
	}

.morelink {
	color:#930
	}

.byline {
	text-align:left;
	font: 100% "Lucida Grande", "Lucida Sans", Verdana, Helvetica, sans-serif;
	font-weight:bold;
}