/* CSS global reset - ensures consistency across all browsers*/
/* http://leftjustified.net/journal/2004/10/19/global-ws-reset */
* {
/*	padding: 0; */    /* messes up select boxes in Firefox, for some reason */
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, label, ul, ol, dl, address {
	padding: 0;
	margin: .5em 0;
}
select {
	min-width: 1.5em;
}
li, dd, blockquote {
	padding: 0;
	margin-left: 1.5em;
}
fieldset {
	padding: 10px;
	margin: .5em 0;
}
/* end of global CSS reset */



/*===================================================================================*/
/* Layout code - float/position, display, margin, padding, width, height, text-align */
/*===================================================================================*/
body {
	text-align: left;
	margin: 10px;
}

#main {
	clear: left;
}

#footer {
	float: left;
	clear: left;
	width: 100%;
	margin: 20px 0 10px 0;
	text-align: right;
}



#filter {
	margin: 4px 0;
	padding-top: 0;
	padding-bottom: 0;
}


select, input, textarea {
	padding: 2px;
	margin: auto 0.25em;
}

input[type="submit"], input[type="reset"] {
	margin: 0px 10px;
}
.submitbuttons a[href] {
    display:inline-block;
    margin:0 5px 0 0;
    background-color:#f5f5f5;
    border:1px solid #ccb;
    text-decoration:none;
    color:#665;
    cursor:pointer;
    padding:5px;
    font-weight: normal;
}
.submitbuttons a[href]:active {
    border-color:black;
}
input.hasdate {
    margin-right:0;
    padding-right:0;
}
input[type="text"].firstclick, a.firstclick:hover, #searchresults a.firstclick:hover,
    a.firstclick:link, a.firstclick:visited,#searchresults a.firstclick:link,
    #searchresults a.firstclick:visited
{
    color:grey;
}
table {
	margin: 0 4px 10px 4px;
}
thead td, th{
	padding: 2px 3px;
}

tbody td {
	padding: 4px;
}

th.col-title {
    font-size:1.5em;
    font-variant:small-caps;
}

div.reportsection {
	margin-bottom:20px;
}


/* the ! preceding each project without a next action defined */
span.noNextAction { 
	margin-right: .5em;
}

/* the * marking each next action */
span.nextActionMarker {
	margin-right: .5em;
}


/* form styling */
.form {
	padding: 1em;
	margin-bottom: 1em;
}
.formrow {
	clear: left;
	margin-bottom: .25em;
}
/* grrr... IE6 requires this, or things get ugly */		
* html .formrow {
	width: 60.5em;
	height: 2.1em;
}

.formbuttons {
	clear: left;
	margin-bottom: 1em;
	padding-top:0.25em;
}
.formrow label.left {
	margin-left: 2em;
	text-align: right;
}
.formrow label.right {
	text-align: left;
}
.formrow label.first, .formrow label:first-child {
	width: 9em;
	margin-left: 0;
	display:block;
	float:left;
}
.formrow label.nomargin:first-child, .formrow label.nomargin {
    display:inline;
    float:none;
    margin-left:0;
}
.formrow input[type="checkbox"], .formrow input[type="radio"], .formbuttons input[type="checkbox"],button {
	margin-top: .6em;
	margin-right: .5em;
}
table input[type="checkbox"]{
	margin:0;
	padding:0;
	height:1.4em;
	width:1.4em;
}
.formrow input[type="radio"].notfirst, .formrow input[type="checkbox"].notfirst, .formbuttons input[type="checkbox"].notfirst {
	margin-left: 1.5em;
}
.formrow textarea, .formrow #name {
	width: 50em;
}
.formrow #title {
	width: 30em;
}
.weeklytable {
	width: 95%;
}
.formrow .text {
    position:relative;
    top:0.5em;
}

/*===================================================================================================*/
/* non-layout code - font family, font size, font-weight, color, border, background, text decoration */
/*===================================================================================================*/
body {
	font-family:"Lucida Grande", "Lucida Sans", Verdana, Helvetica, arial, sans-serif;
	font-size: 11px;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	color: #39c;
}

h2 {
	color: #39c;
	font-size: 16px;
	font-weight: bold;
	background: none;
	border-bottom: 2px solid #ccb;
}

h3 {
	color: #998;
	font-size: 12px;
	font-weight: bold;
	background: none;
}

h4 {
	font-size: 11px;
	font-weight: bold;
	background: none;
}
.editbar {
    padding-bottom:1em;
}

a, a:link,.fakelink {
	color:#39c; 
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	color:#39c; 
	text-decoration: none;
}
a:hover,.fakelink:hover{
	text-decoration: underline;
	color:#039; 
}
a img {
	border:none;
}

img {
    border: none;
    margin-right: 2px;
}

select, input, textarea,button {
	color: #221;
	font-family:"Lucida Grande", "Lucida Sans", Verdana, Helvetica, sans-serif;
	font-size: 11px;
}
select, input[type='text'], input[type='submit'], input[type='reset'], button, textarea {
	border: 2px solid #ccb;
}
input[type='submit']:disabled, button:disabled,select:disabled {
    color: #665;
}
.success {
    border: solid green 2px;
    font-weight:bold;
    padding:2px;
    background-color:#CFC;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table.submitbuttons tbody,table.submitbuttons td {
    border:none;
    padding:0;
    margin:0;
}
#contexttable {
    text-align:center;
}
table.submitbuttons input {
    padding:0;
    margin:2px;
}

thead td, th {
	border: 1px solid #777;
	background: #bba;
	color: #eed;
	font-weight: bold;
	font-size: 10px;
}

tbody tr {
	background: #fcfcf0;
}

.datatable tbody tr:hover {
	background: #EEE;
}

tbody td {
	color: #666;
	border: 1px dotted #ddd;
	font-weight: normal;
	font-size: 10px;
}

a.nextactionlink {
	font-weight: bold;
	color: #C80;
}
td.overdue, span.overdue,.warnresult {
	color: red;
	font-weight: bolder;
}
.comingdue {
	color: #AA7200;
	font-weight: bolder;
}
.celloverdue,.celloverdue:hover {
    background-color: #FFAAAA;
}
.celldue,.celldue:hover {
    background-color: #AAFFAA;
}
.due,.goodresult {
	color:green;
}
span.due {
	font-weight: bolder;
}
.addlink,a.add:hover, #searchresults a:hover, a.add:link, a.add:visited,#searchresults a:link, #searchresults a:visited {
	color:green;
	font-weight:bolder;
    font-size:larger;
    margin:1px;
}
.remove,a.remove:hover,a.remove:link,a.remove:visited {
    color:red;
    font-weight:bolder;
    font-size:larger;
    margin:1px;
}
.hoverbox a, a.hoverbox {
    margin:1px;
}
.remove:hover,.add:hover, a.remove:hover, a.add:hover, .hoverbox a:hover, a.hoverbox:hover, #searchresults a:hover {
    margin:0;
    border:1px black dotted;
    text-decoration:none;
    cursor: pointer;
}
#taglist {
    background-color:#F4F4EB;
    display: none;
    /*border:1px black solid;*/
}
#taglist a.add,#taglist a.add:hover {
    font-size: small;
    font-weight: normal;
}

td.maincolumn {
  background-color:#fFfFf3;
}

.noparent {
    background-color:#ff8;
}

p.warning {
    background-color:white;
    color:#800;
    font-size:larger;
    border: solid 2px #800;
}

input.warning,th.warning {
    background-color:#800;
    color:white;
}

input.warning {
    font-size:0.9em;
}

#header {
	background: none;
	/*border-bottom: 4px solid #eed;*/
}

#footer {
	color:#666;
	border-top: 2px solid #eed;
}

#menulist a,
#menulist a:link,
#menulist a:visited {
	text-decoration: none;
}
#menulist a:hover {
	background: #eed;
	text-decoration: none;
}


#menudiv li li { /* second-level list items */
	border-top: .1em solid #eed;
}


a.pageheading:hover {
	color:#003300; 
	text-decoration: underline;
}

a.subheading:hover {
	color:#003300; 
	text-decoration: underline;
}

/* the ! preceding each project without a next action defined (in listProjects.php) */
.noNextAction,a.noNextAction {
	font-weight: bold;
	color: #F00;
}

/* the * marking each next action (in projectReport.php) */
.nextActionMarker {
	font-weight: bold;
	color: #F80;
}

/* forms */
div.form {
	background: #FCFCF0;
	border: 1px dotted #DDD;
}
.formrow label {
	color: #665;
}
span.detail {
	color: #888;
	float: left;
	clear: left;
}

.error {
	color:red;
	font-size:1.1em;
}
/*------------------------------
  live javascript effects CSS
  ----------------------------*/
#searcher {
	top:6em;
	left:30em;
	right:1em;
	bottom:1em;
	position:fixed;
	z-Index:999;
	background-Color:white;
	border: 6px ridge #39c;
	display:none;
}
#parenttable {
    z-Index:950;
}
#searchresults {
    position:fixed;
    right:2em;
    left:32em;
    bottom:2em;
    top:12em;
    overflow:scroll;
}
#searchresults p {
    padding:0.1em;
    margin:0;
}
#searcher #donebox {
    position:fixed;
    top:7em;
    right:2em;
    background-color:#c00;
}
#searcher #donebox a,#searcher #donebox a:link, #searcher #donebox a:visited {
    color:#ddd;
    font-size:2em;
    text-decoration:none;
}
#searcher #donebox a:hover {
    color:white;
    border:1px solid #c00;
}
.hidden,.togglehidden {
    display:none;
}
div.ontop#freezer {
    z-Index:1000;
    cursor: wait;
}
div#freezer {
	top:0;
	left:0;
    right:0;
    bottom:0;
	position:fixed;
	z-Index:900;
	background-color:#000;
	opacity:0.20;
	filter:alpha(opacity=20);
	-Moz-Opacity:0.20;
}
#recur span {
    border: dotted 1px grey;
    padding: 3px 0;
    margin-right: 1em;
    background-color:#F4F4EB;
}
#recur span.selected {
    background-color:#FEFEF8;
}
#recur label.left {
    margin-left:1em;
}
#recur {
    border: medium double grey;
    margin-top:0.9em;
}

/*
 * Sorting
 */
a.sortheader { display: block; }
.sortable th {
    padding-right: 16px;
    background-position: center right;
    background-repeat: no-repeat;
}
.sortup {
    background-image: url("up.gif");
}
.sortdown {
    background-image: url("down.gif");
}
.col-checkbox,.col-NA,.col-flags {
    text-align:center;
}
.debug {
    margin:0;
    padding:0;
    border-top:1px solid blue;
    border-bottom:1px solid blue;
}
.debug a {
    font-size: large;
    font-weight: bold;
}
@media print{
    /*=====================================================*/
    /* print.css - mostly used to hide items when printing */
    /*=====================================================*/

    /* First, hide the appropriate elements */
    #header, #menudiv, #footer, #filter {
    	display: none;
    }

    p.buttons, p.checkboxes, span.editbar, .button, .noprint {
    	display: none;
    }

    /* Now, resize larger text to make them fit better on the page */
    #main h1, #main h2 {
    	font-size: 1em;
    	border: none;
    }
}
@media screen {
    /* The main calendar widget.  DIV containing a table. */

    .calendar {
      position: relative;
      display: none;
      border-top: 2px solid #fff;
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
      border-left: 2px solid #fff;
      font-size: 11px;
      color: #000;
      cursor: default;
      background: #c8d0d4;
      font-family: tahoma,verdana,sans-serif;
      z-index: 5000;
    }

    .calendar table {
      border-top: 1px solid #000;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #000;
      font-size: 11px;
      color: #000;
      cursor: default;
      background: #c8d0d4;
      font-family: tahoma,verdana,sans-serif;
    }

    /* Header part -- contains navigation buttons and day names. */

    .calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
      text-align: center;
      padding: 1px;
      border-top: 1px solid #fff;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      border-left: 1px solid #fff;
    }

    .calendar .nav {
      background: transparent url(menuarrow.gif) no-repeat 100% 100%;
    }

    .calendar thead .title { /* This holds the current "month, year" */
      font-weight: bold;
      padding: 1px;
      border: 1px solid #000;
      background: #788084;
      color: #fff;
      text-align: center;
    }

    .calendar thead .headrow { /* Row <TR> containing navigation buttons */
    }

    .calendar thead .daynames { /* Row <TR> containing the day names */
    }

    .calendar thead .name { /* Cells <TD> containing the day names */
      border-bottom: 1px solid #000;
      padding: 2px;
      text-align: center;
      background: #e8f0f4;
    }

    .calendar thead .weekend { /* How a weekend day name shows in header */
      color: #f00;
    }

    .calendar thead .hilite { /* How do the buttons in header appear when hover */
      border-top: 2px solid #fff;
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
      border-left: 2px solid #fff;
      padding: 0px;
      background-color: #d8e0e4;
    }

    .calendar thead .active { /* Active (pressed) buttons in header */
      padding: 2px 0px 0px 2px;
      border-top: 1px solid #000;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #000;
      background-color: #b8c0c4;
    }

    /* The body part -- contains all the days in month. */

    .calendar tbody .day { /* Cells <TD> containing month days dates */
      width: 2em;
      text-align: right;
      padding: 2px 4px 2px 2px;
    }

    .calendar .name {
      color: #aaa;
    }
    .calendar .name:hover {
      color: #000;
    }
    .calendar tbody .day.othermonth {
      font-size: 80%;
      color: #aaa;
    }
    .calendar tbody .day.othermonth.oweekend {
      color: #faa;
    }

    .calendar table .wn {
      padding: 2px 3px 2px 2px;
      border-right: 1px solid #000;
      background: #e8f4f0;
    }

    .calendar tbody .rowhilite td {
      background: #d8e4e0;
    }

    .calendar tbody .rowhilite td.wn {
      background: #c8d4d0;
    }

    .calendar tbody td.hilite { /* Hovered cells <TD> */
      padding: 1px 3px 1px 1px;
      border: 1px solid;
      border-color: #fff #000 #000 #fff;
    }

    .calendar tbody td.active { /* Active (pressed) cells <TD> */
      padding: 2px 2px 0px 2px;
      border: 1px solid;
      border-color: #000 #fff #fff #000;
    }

    .calendar tbody td.selected { /* Cell showing selected date */
      font-weight: bold;
      padding: 2px 2px 0px 2px;
      border: 1px solid;
      border-color: #000 #fff #fff #000;
      background: #d8e0e4;
    }

    .calendar tbody td.weekend { /* Cells showing weekend days */
      color: #f00;
    }

    .calendar tbody td.today { /* Cell showing today date */
      font-weight: bold;
      color: #00f;
    }

    .calendar tbody .disabled { color: #999; }

    .calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
      visibility: hidden;
    }

    .calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
      display: none;
    }

    /* The footer part -- status bar and "Close" button */

    .calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
    }

    .calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
      background: #e8f0f4;
      padding: 1px;
      border: 1px solid #000;
      background: #788084;
      color: #fff;
      text-align: center;
    }

    .calendar tfoot .hilite { /* Hover style for buttons in footer */
      border-top: 1px solid #fff;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      border-left: 1px solid #fff;
      padding: 1px;
      background: #d8e0e4;
    }

    .calendar tfoot .active { /* Active (pressed) style for buttons in footer */
      padding: 2px 0px 0px 2px;
      border-top: 1px solid #000;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #000;
    }

    /* Combo boxes (menus that display months/years for direct selection) */

    .calendar .combo {
      position: absolute;
      display: none;
      width: 4em;
      top: 0px;
      left: 0px;
      cursor: default;
      border-top: 1px solid #fff;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      border-left: 1px solid #fff;
      background: #d8e0e4;
      font-size: 90%;
      padding: 1px;
      z-index: 100;
    }

    .calendar .combo .label,
    .calendar .combo .label-IEfix {
      text-align: center;
      padding: 1px;
    }

    .calendar .combo .label-IEfix {
      width: 4em;
    }

    .calendar .combo .active {
      background: #c8d0d4;
      padding: 0px;
      border-top: 1px solid #000;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: 1px solid #000;
    }

    .calendar .combo .hilite {
      background: #048;
      color: #aef;
    }

    .calendar td.time {
      border-top: 1px solid #000;
      padding: 1px 0px;
      text-align: center;
      background-color: #e8f0f4;
    }

    .calendar td.time .hour,
    .calendar td.time .minute,
    .calendar td.time .ampm {
      padding: 0px 3px 0px 4px;
      border: 1px solid #889;
      font-weight: bold;
      background-color: #fff;
    }

    .calendar td.time .ampm {
      text-align: center;
    }

    .calendar td.time .colon {
      padding: 0px 2px 0px 3px;
      font-weight: bold;
    }

    .calendar td.time span.hilite {
      border-color: #000;
      background-color: #667;
      color: #fff;
    }

    .calendar td.time span.active {
      border-color: #f00;
      background-color: #000;
      color: #0f0;
    }

}
